.products-nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}
.products-nav {
  width: 599px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.products-nav button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.7rem;
  width: 30px;
  height: 30px;
  padding: 0px;
  margin: 5px;
  background-color: #ffffff;
  color: #c67100;
  -webkit-boder-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
  border-style: none;
  outline: none;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15), 0 2px 2px 0 rgba(0, 0, 0, 0.3);
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}
@media only screen and (min-width: 1200px) {
  .products-nav button:hover {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.15), 0 4px 4px 0 rgba(0, 0, 0, 0.3);
    background-color: #ffa000;
    color: #ffffff;
  }
}
.products-nav button:active {
  background-color: #ffa000;
}
button.products-nav-active {
  background-color: #ffa000;
  color: #ffffff;
}