.search-text-container {
  margin: 5px 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 3rem;
}
.search-text-container span {
  font-size: 1.5rem;
  color: #464646;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 2px 0;
}
.products-container {
  padding: 5px;
  display: block;
}
@media only screen and (min-width: 1200px) {
  .products-container {
    display: flex;
    flex-direction: row;
  }
}
.products-display-container {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 900px) {
  .products-display-container {
    flex: 30%;
  }
}
.products-reactivate-filters {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
.products-reactivate-filters span {
  font-size: 1.9rem;
  color: #464646;
  text-align: center;
}
.products-no-results-container {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 1.9rem;
}
.products-no-results-container span {
  height: 300px;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0 5px;
}
@media only screen and (max-width: 599px) {
  .products-no-results-container span {
    width: 100%;
  }
}
@media only screen and (min-width: 600px) {
  .products-no-results-container span {
    width: 480px;
  }
}
@media only screen and (max-width: 599px) {
  .ads-banner-container {
    height: 100px;
    max-width: 320px;
    background-color: #fafafa;
    margin-bottom: 5px;
  }
}
@media only screen and (min-width: 900px) {
  .ads-banner-container {
    margin: 5px;
    width: 160px;
    height: 600px;
    padding: 10px;
    background-color: #fafafa;
  }
}