html {
  /* Set font to 10px for easier use of rem units. 1rem = 10px */
  font-size: 62.5%;
}
body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(135deg, #fdfbfb 0%, #ebedee 100%);
}
a {
  text-decoration: none;
}
/* Responsive Mixins */
/* Buttons */
/* FILTER TOGGLE */
.btn {
  border: none;
  border-radius: 2px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15), 0 2px 2px 0 rgba(0, 0, 0, 0.3);
  padding: 0 16px;
  height: 32px;
  width: auto;
  color: #fff;
  font-size: 1.3rem;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}
.btn:hover {
  cursor: pointer;
  background: #ffa000;
}
.btn:focus {
  outline: 0;
}
.btn:active {
  background: #ffa000;
}
.filter-toggle {
  margin-left: 5px;
}
.hidden {
  display: none;
}
/* ---------------- MOBILE HEADER -------------- */
.header {
  position: relative;
  top: 0px;
  width: 100%;
  text-align: center;
  background-color: #ffa000;
  display: block;
  padding: 10px 0px;
  font-size: 2.5rem;
  color: #ffffff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15), 0 2px 2px 0 rgba(0, 0, 0, 0.3);
}
@media only screen and (min-width: 1200px) {
  .header {
    display: none;
  }
}
.navbar {
  background-color: #ffffff;
  position: fixed;
  bottom: 0px;
  width: 100%;
  display: flex;
  display: -ms-flex;
  box-shadow: 0 -2px 4px -1px rgba(70, 70, 70, 0.5);
  z-index: 1;
}
@media only screen and (min-width: 1200px) {
  .navbar {
    z-index: 0;
    position: relative;
    top: 0px;
    width: 100%;
    display: flex;
    display: -ms-flex;
    justify-content: center;
    box-shadow: 0 2px 4px -1px rgba(70, 70, 70, 0.5);
  }
}
.navbar-title {
  display: none;
}
@media only screen and (min-width: 1200px) {
  .navbar-title {
    flex: 1;
    display: flex;
    display: -ms-flex;
    justify-content: flex-end;
    align-items: center;
  }
}
.navbar-title svg {
  margin-right: 5px;
  color: #ffa000;
  font-size: 2rem;
}
.navbar-title span {
  margin-right: 10px;
  color: #ffa000;
  font-weight: 700;
  font-size: 1.8rem;
}
.navbar-user {
  display: none;
}
@media only screen and (min-width: 1200px) {
  .navbar-user {
    flex: 1;
    display: flex;
    display: -ms-flex;
    justify-content: flex-start;
    align-items: center;
  }
}
.navbar-user a {
  cursor: pointer;
  color: #464646;
  font-size: 1.7rem;
  padding: 5px;
  border: 1px solid #464646;
  -webkit-boder-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  margin-right: 5px;
}
.navbar-user a:hover {
  color: #c67100;
  border-color: #c67100;
}
.navbar-links {
  display: flex;
  display: -ms-flex;
  width: 100%;
}
@media only screen and (min-width: 1200px) {
  .navbar-links {
    flex: 3;
    position: relative;
    display: flex;
    display: -ms-flex;
    justify-content: flex-start;
  }
}
.navbar-links a {
  flex: 1;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 14px 10px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media only screen and (min-width: 1200px) {
  .navbar-links a {
    flex: .1;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 14px 5px;
    color: #464646;
    font-weight: 700;
    font-size: 1.7rem;
  }
}
@media only screen and (min-width: 1200px) {
  .navbar-links a:first-child {
    margin-left: 50px;
  }
}
.navbar-links a:hover > .navbar-link-container .navbar-text {
  color: #c67100;
}
.navbar-link-container svg {
  fill: none;
  stroke: #464646;
}
@media only screen and (min-width: 1200px) {
  .navbar-link-container svg {
    display: none;
  }
}
.navbar-link-container a:hover svg {
  fill: none;
  stroke: #c67100;
}
.navbar-link-container {
  display: flex;
  display: -ms-flex;
  align-items: center;
  justify-content: center;
}
.navbar-link-container svg {
  width: 3rem;
  height: 3rem;
}
.navbar-text {
  display: none;
}
@media only screen and (min-width: 1200px) {
  .navbar-text {
    display: block;
    text-align: center;
  }
}
/* ------------------- MAIN CONTAINER FOR EVERY COMPONENT ----------------------*/
.main {
  padding: 5px 0px;
  margin-bottom: 5rem;
}
/* ---------------- SEARCH FORM ICON OUTSIDE SEARCH BOX -------------- */
.search-container {
  margin: 10px auto 1px;
  width: 100%;
  max-width: 500px;
}
.search-input-container {
  margin: 0px 5px;
  overflow: hidden;
  max-width: 500px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15), 0 2px 2px 0 rgba(0, 0, 0, 0.3);
  -webkit-boder-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}
.search-input-container:hover {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.15), 0 4px 4px 0 rgba(0, 0, 0, 0.3);
}
.search-input-container input#search {
  background-color: #ffffff;
  font-size: 1.8rem;
  color: #464646;
  width: 100%;
  /* max-width: 500px; */
  height: 40px;
  float: left;
  padding-left: 15px;
  border: none;
  -webkit-appearance: none;
}
/*Disable blue outline on chrome*/
.search-input-container input#search:focus {
  outline: 0;
}
.search-input-container input#search:-webkit-input-placeholder {
  color: #464646;
}
.search-input-container input#search:-moz-placeholder {
  /* Firefox 19+ */
  color: #464646;
}
.search-input-container input#search:-ms-input-placeholder {
  color: #464646;
}
.search-input-container button.icon-search {
  border: none;
  background-color: transparent;
  color: #c67100;
  height: 40px;
  width: 50px;
  opacity: 1;
  font-size: 1.6rem;
  margin-left: -50px;
  outline: 0;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}
.search-input-container button.icon-search:hover {
  cursor: pointer;
}
.search-input-container input#search:focus + button.icon-search {
  color: #ffa000;
  transform: scale(1.2, 1.2);
}
.search-text-container {
  margin: 5px 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 3rem;
}
.search-text-container span {
  font-size: 1.5rem;
  color: #464646;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 2px 0;
}
/* MAIN PRODUCT CONTAINER */
.products-main-container {
  display: block;
}
.products-container {
  padding: 5px;
  display: block;
}
@media only screen and (min-width: 1200px) {
  .products-container {
    display: flex;
    flex-direction: row;
  }
}
.products-display-container {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 900px) {
  .products-display-container {
    flex: 30%;
  }
}
.products-grid-container {
  display: flex;
}
@media only screen and (max-width: 899px) {
  .products-grid-container {
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (min-width: 900px) {
  .products-grid-container {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
}
.product-item-container {
  display: flex;
  background-color: #ffffff;
  -webkit-boder-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15), 0 2px 2px 0 rgba(0, 0, 0, 0.3);
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}
@media only screen and (max-width: 899px) {
  .product-item-container {
    flex-direction: row;
    margin: 5px 0;
    height: 120px;
  }
}
@media only screen and (max-width: 599px) {
  .product-item-container {
    width: 100%;
  }
}
@media only screen and (min-width: 600px) {
  .product-item-container {
    width: 490px;
  }
}
@media only screen and (min-width: 900px) {
  .product-item-container {
    flex-direction: column;
    margin: 5px;
    height: 300px;
    width: 250px;
  }
}
.product-item-container:hover {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.15), 0 4px 4px 0 rgba(0, 0, 0, 0.3);
}
.product-item-image {
  display: flex;
  justify-content: center;
  align-content: center;
}
@media only screen and (max-width: 899px) {
  .product-item-image {
    flex: 40%;
    height: 100%;
  }
}
@media only screen and (min-width: 900px) {
  .product-item-image {
    height: 210px;
  }
}
.product-item-image a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-item-image a img {
  max-height: 90%;
}
.product-item-data {
  padding: 5px;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 899px) {
  .product-item-data {
    flex: 60%;
  }
}
@media only screen and (min-width: 900px) {
  .product-item-data {
    height: 90px;
  }
}
.product-item-data-block {
  color: #464646;
  flex: 1;
  display: flex;
  align-items: center;
}
.product-item-data-block:not(:first-child) {
  justify-content: flex-end;
  font-size: 1.6rem;
}
.product-item-data-block:first-child {
  align-items: flex-start;
}
.product-item-data-block:nth-child(2) {
  align-items: flex-end;
}
.product-item-name {
  color: #464646;
  font-size: 1.8rem;
  text-decoration: none;
  overflow: hidden;
}
.product-item-price {
  color: #c67100;
  font-weight: 600;
}
.products-nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}
.products-nav {
  width: 599px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.products-nav button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.7rem;
  width: 30px;
  height: 30px;
  padding: 0px;
  margin: 5px;
  background-color: #ffffff;
  color: #c67100;
  -webkit-boder-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
  border-style: none;
  outline: none;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15), 0 2px 2px 0 rgba(0, 0, 0, 0.3);
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}
@media only screen and (min-width: 1200px) {
  .products-nav button:hover {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.15), 0 4px 4px 0 rgba(0, 0, 0, 0.3);
    background-color: #ffa000;
    color: #ffffff;
  }
}
.products-nav button:active {
  background-color: #ffa000;
}
button.products-nav-active {
  background-color: #ffa000;
  color: #ffffff;
}
/* FILTERS */
.filters-table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 100%;
}
@media only screen and (min-width: 1200px) {
  .filters-table-container {
    margin: 5px;
    width: 250px;
  }
}
.filters-show-toggle {
  cursor: pointer;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.8rem;
  color: #464646;
  background-color: #ffffff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15), 0 2px 2px 0 rgba(0, 0, 0, 0.3);
  -webkit-tap-highlight-color: transparent;
}
@media only screen and (max-width: 599px) {
  .filters-show-toggle {
    width: 100%;
  }
}
@media only screen and (min-width: 600px) {
  .filters-show-toggle {
    width: 490px;
  }
}
@media only screen and (min-width: 1200px) {
  .filters-show-toggle {
    display: none;
  }
}
.filters-show-toggle svg {
  margin: 0 15px;
}
.filters-show-toggle svg:first-child {
  color: #c67100;
}
.filters-show-toggle span {
  margin: 0 5px;
}
.filters-container {
  background: #ffffff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15), 0 2px 2px 0 rgba(0, 0, 0, 0.3);
  overflow: hidden;
  display: block;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}
@media only screen and (max-width: 599px) {
  .filters-container {
    max-height: 0;
    width: 100%;
  }
}
@media only screen and (min-width: 600px) {
  .filters-container {
    max-height: 0;
    width: 490px;
  }
}
@media only screen and (min-width: 1200px) {
  .filters-container {
    max-height: none;
    width: 100%;
    padding: 5px;
    -webkit-boder-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
  }
}
.filters-not-rotated > svg:nth-child(3) {
  transform: rotate(0deg);
  transform-origin: 50% 50%;
  animation: rotateInverse .2s ease;
}
.filters-rotated > svg:nth-child(3) {
  transform: rotate(180deg);
  transform-origin: 50% 50%;
  animation: rotate .2s ease;
}
/* create a slide bar background */
.filter {
  display: flex;
  margin: 5px 10px;
  justify-content: space-between;
  align-items: center;
}
.filter-svg-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.filter-svg-item:first-child {
  display: none;
}
.filter-svg-item:not(:last-child) {
  padding: 5px;
  margin: 0 10px;
}
.filter-svg-item:last-child {
  padding: 5px;
  margin-left: 10px;
}
.filter-svg-item {
  font-size: 1.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #c7c7c7;
  border-radius: 20px;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}
.filter-svg-item:hover {
  color: #ffa000;
  background-color: #fafafa;
}
.filter-svg-item-active {
  color: #ffa000;
  background-color: #fafafa;
  transform: scale(1.15, 1.15);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15), 0 2px 2px 0 rgba(0, 0, 0, 0.3);
}
/* draw the background for the slider */
.lbl {
  margin: 5px 0 5px 10px;
  position: relative;
  display: block;
  height: 20px;
  width: 44px;
  background: #c7c7c7;
  border-radius: 100px;
  cursor: pointer;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-tap-highlight-color: transparent;
}
/* draw a circle on top of the slider(label) */
.lbl:after {
  position: absolute;
  left: -2px;
  top: -3px;
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 100px;
  background: #ffffff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15), 0 2px 2px 0 rgba(0, 0, 0, 0.3);
  content: '';
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-tap-highlight-color: transparent;
}
.lbl:active:after {
  transform: scale(1.15, 0.85);
}
.cbx:checked ~ label {
  background: #c67100;
}
.cbx:checked ~ label:after {
  left: 20px;
  background: #ffa000;
}
.cbx:disabled ~ label {
  background: #c7c7c7;
}
.cbx:disabled ~ label:after {
  background: #ffffff;
}
.filters-container span {
  margin: 5px 10px;
  display: flex;
}
.filters-container span.filter-name {
  font-size: 1.8rem;
  color: #464646;
}
.filters-container span.filter-title {
  font-size: 1.8rem;
  color: #464646;
  border-bottom: 2px solid #c7c7c7;
}
.loading {
  margin: 60px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.loading svg {
  color: #ffa000;
}
@media only screen and (max-width: 599px) {
  .ads-banner-container {
    height: 100px;
    max-width: 320px;
    background-color: #fafafa;
    margin-bottom: 5px;
  }
}
@media only screen and (min-width: 900px) {
  .ads-banner-container {
    margin: 5px;
    width: 160px;
    height: 600px;
    padding: 10px;
    background-color: #fafafa;
  }
}
.products-no-results-container {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 1.9rem;
}
.products-no-results-container span {
  height: 300px;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0 5px;
}
@media only screen and (max-width: 599px) {
  .products-no-results-container span {
    width: 100%;
  }
}
@media only screen and (min-width: 600px) {
  .products-no-results-container span {
    width: 480px;
  }
}
.products-reactivate-filters {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
.products-reactivate-filters span {
  font-size: 1.9rem;
  color: #464646;
  text-align: center;
}
.single-product-main-container {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 10px;
}
.single-product-container {
  border-radius: 2px;
  width: 490px;
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15), 0 2px 2px 0 rgba(0, 0, 0, 0.3);
}
.single-product-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.single-product-img img {
  max-width: 100%;
}
.single-product-name {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
}
.single-product-name h1 {
  font-size: 1.9rem;
  color: #c67100;
}
.single-product-price {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0px 10px 10px;
}
.single-product-price span {
  font-size: 1.8rem;
  font-weight: 600;
  color: #464646;
}
.single-product-category {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.single-product-category span {
  font-size: 1.8rem;
}
.single-product-store {
  color: #464646;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 5px;
  margin-bottom: 5px;
}
.single-product-store a {
  font-size: 1.8rem;
  color: #464646;
  padding: 10px;
  background-color: #DCD9D4;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), radial-gradient(at 50% 0%, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.5) 50%);
  background-blend-mode: soft-light, screen;
  border-radius: 30px;
}
.single-product-store:hover {
  top: 5px;
}
.single-product-store a svg {
  color: #464646;
}
.single-product-store-url {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
}
.single-product-store-url a {
  font-size: 1.8rem;
  color: black;
}
.single-product-link {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 15px 10px;
}
.single-product-link a {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 1.8rem;
  font-weight: 600;
  width: 100%;
  text-align: center;
  color: #ffffff;
  background-image: linear-gradient(135deg, #FEC163 10%, #DE4313 100%);
  border-radius: 30px;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}
.single-product-link a:hover {
  background-color: #ffa000;
}
.categories-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.categories-landing-page {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.categories-landing-page span {
  color: #464646;
  text-align: center;
  font-size: 1.9rem;
  margin: 0 10px;
}
.categories-grid {
  width: 599px;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media only screen and (min-width: 900px) {
  .categories-grid {
    width: 900px;
  }
}
.categorie-item {
  font-size: 2.5rem;
  color: #ffffff;
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15), 0 2px 2px 0 rgba(0, 0, 0, 0.3);
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-boder-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
@media only screen and (min-width: 900px) {
  .categorie-item {
    width: 280px;
    justify-content: space-between;
  }
}
.categorie-item:first-child {
  background-image: linear-gradient(135deg, #fe9a8b 10%, #fd868c 30%, #f9748f 60%, #f78ca0 100%);
}
.categorie-item:nth-child(2) {
  background-image: linear-gradient(135deg, #84fab0 0%, #8fd3f4 100%);
}
.categorie-item:nth-child(3) {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}
.categorie-item:hover {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.15), 0 4px 4px 0 rgba(0, 0, 0, 0.3);
}
@media only screen and (min-width: 900px) {
  .categorie-item svg {
    margin-left: 15px;
  }
}
.categorie-item span {
  font-weight: 600;
}
@media only screen and (max-width: 599px) {
  .categorie-item span {
    display: none;
  }
}
@media only screen and (min-width: 600px) {
  .categorie-item span {
    display: none;
  }
}
@media only screen and (min-width: 900px) {
  .categorie-item span {
    display: block;
    margin-right: 15px;
  }
}
.categorie-item-active {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.15), 0 4px 4px 0 rgba(0, 0, 0, 0.3);
  transform: scale(1.05, 1.05);
}
.stores-container {
  margin: 10px auto;
  max-width: 599px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.store-container {
  margin: 5px;
  background: #ffffff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15), 0 2px 2px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  min-height: 150px;
  max-width: 100%;
  -webkit-boder-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}
@media only screen and (min-width: 1200px) {
  .store-container:hover {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.15), 0 4px 4px 0 rgba(0, 0, 0, 0.3);
  }
}
.store-image {
  flex-basis: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.store-image img {
  width: 100px;
}
@media only screen and (max-width: 599px) {
  .store-image img {
    margin: 5px;
  }
}
.store-data {
  flex-basis: 75%;
  display: flex;
  flex-direction: column;
}
.store-data-block {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
}
.store-name {
  color: #464646;
  font-size: 1.9rem;
}
.store-data-block:not(:first-child) span {
  font-size: 1.8rem;
  margin: 5px 2px;
  padding: 1px 10px;
  -webkit-boder-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #000;
  background: #f0f0f0;
}
.store-single-main-container {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 10px;
}
.store-single-container {
  display: flex;
  flex-direction: column;
  width: 599px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #ffffff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15), 0 2px 2px 0 rgba(0, 0, 0, 0.3);
  -webkit-boder-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.store-single-image {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 95%;
  height: auto;
  padding: 5px;
}
.store-single-image img {
  max-width: 100%;
}
.store-single-title-container {
  color: #464646;
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 1.9rem;
  border-top: 1px solid #ddd;
}
.store-single-title-container svg {
  margin-right: 15px;
}
.store-single-title-container-svg {
  display: block;
  padding: 10px;
  border-top: 1px solid #ddd;
  font-size: 1.8rem;
  -webkit-tap-highlight-color: transparent;
}
.store-single-title-container-svg:hover {
  cursor: pointer;
}
.store-single-title-container-svg svg:first-child {
  color: #ffa000;
  margin-right: 15px;
}
.store-single-title-container-svg svg:nth-child(3) {
  color: #464646;
  float: right;
}
.store-single-container h1 {
  margin: 0;
  font-size: 1.9rem;
}
.store-single-container a {
  font-size: 1.8rem;
  color: black;
}
.store-single-container span {
  font-size: 1.8rem;
}
.store-single-content-container {
  padding: 0 10px 0;
  display: block;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease;
  -moz-transition: max-height 0.2s ease;
  -ms-transition: max-height 0.2s ease;
  -o-transition: max-height 0.2s ease;
  transition: max-height 0.2s ease;
}
.store-single-item-container {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.8rem;
  display: flex;
}
.phone-content {
  width: 100%;
  justify-content: center;
}
.phone-content div {
  flex: 1;
}
.phone-content div:first-child {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}
.email-content {
  justify-content: center;
}
.addresses-content {
  justify-content: center;
  flex-wrap: wrap;
}
.addresses-content:not(:last-child) {
  padding-bottom: 5px;
  border-bottom: 1px solid #ddd;
}
.openhours-content {
  justify-content: center;
}
.openhours-content div {
  flex: 1;
}
.openhours-content div:first-child {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}
.store-not-rotated > svg:nth-child(3) {
  transform: rotate(0deg);
  transform-origin: 50% 50%;
  animation: rotateInverse .2s ease;
}
.store-rotated > svg:nth-child(3) {
  transform: rotate(180deg);
  transform-origin: 50% 50%;
  animation: rotate .2s ease;
}
.menu-container {
  display: flex;
  justify-content: center;
}
.ul-menu {
  width: 599px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 0;
  background-color: #ffffff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15), 0 2px 2px 0 rgba(0, 0, 0, 0.3);
}
.li-menu {
  list-style-type: none;
}
.menu-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 1.9rem;
  background-color: #ffffff;
  -webkit-tap-highlight-color: transparent;
}
.menu-title-container:hover {
  cursor: pointer;
}
.not-rotated > svg {
  transform: rotate(0deg);
  transform-origin: 50% 50%;
  animation: rotateInverse .2s ease;
}
.rotated > svg {
  transform: rotate(180deg);
  transform-origin: 50% 50%;
  animation: rotate .2s ease;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
    transform-origin: 50% 50%;
  }
  100% {
    transform: rotate(-180deg);
    transform-origin: 50% 50%;
  }
}
@keyframes rotateInverse {
  0% {
    transform: rotate(-180deg);
    transform-origin: 50% 50%;
  }
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 50%;
  }
}
.menu-content-container {
  display: block;
  max-height: 0;
  border-bottom: 1px solid #ddd;
  overflow: hidden;
  padding: 0 10px;
  -webkit-transition: max-height 0.2s ease;
  -moz-transition: max-height 0.2s ease;
  -ms-transition: max-height 0.2s ease;
  -o-transition: max-height 0.2s ease;
  transition: max-height 0.2s ease;
}
.menu-content-container p {
  font-size: 1.7rem;
}
