/* ------------------- CONTENT ----------------------*/
.main {
    padding: 5px 0px;
    margin-bottom: 5rem;
}

/* ---------------- SEARCH FORM ICON OUTSIDE SEARCH BOX -------------- */
.search-container {
    margin: 10px auto;
    width: 100%;
    max-width: 400px;
    height: 4rem;
}
.search-input-container {
    margin: 0px 5px;
    overflow: hidden;
    max-width: 400px;
    vertical-align: middle;
    white-space: nowrap;
    box-shadow: 0 2px 2px 0 rgba(70, 70, 70, 0.5);
    -webkit-appearance: none;
    /* -webkit-boder-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; */

}
.search-input-container:hover {
    /* box-shadow: 0 1px 8px 0 rgba(70, 70, 70, 0.8); */
    box-shadow: 0 4px 8px 0 rgba(70, 70, 70, 0.5);
}
.search-input-container input#search {
    width: 100%;
    max-width: 400px;
    height: 40px;
    background: #fff;
    /* border: 1px solid #fafafa; */
    font-size: 1.8rem;
    float: left;
    color: #464646;
    padding-left: 15px;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    /* border: 1px solid rgba(,70,70,1);  */
    border: none;
    /* -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; */
}
/* .search-input-container input#search:hover {
    border: 1px solid #d2691e;
} */
.search-input-container input#search:focus {
    /* border: 1px solid #d2691e; */
}
.search-input-container input#search:-webkit-input-placeholder {
    color: #65737e;
}
.search-input-container input#search:-moz-placeholder {
/* Firefox 18- */
    color: #65737e;
}
.search-input-container input#search:-moz-placeholder {
/* Firefox 19+ */
    color: #65737e;
}
.search-input-container input#search:-ms-input-placeholder {
    color: #65737e;
}
.search-input-container button.icon-search {
    /* -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; */
    border: none;
    /* background: #464646; */
    background: #c67100;
    height: 40px;
    width: 50px;
    color: #fff;
    opacity: 1;
    font-size: 1.6rem;
    margin-left: -50px;
    -webkit-transition: all .15s ease;
    -moz-transition: all .15s ease;
    -ms-transition: all .15s ease;
    -o-transition: all .15s ease;
    transition: all .15s ease;
}   
.search-input-container button.icon-search:hover {
    cursor: pointer;
}
.search-input-container input#search:focus + button.icon-search {
    /* background: #d2691e; */
    background: #ffa000;
}