html {
  /* Set font to 10px for easier use of rem units. 1rem = 10px */
  font-size: 62.5%;
}
body {
  margin: 0px;
  /* font-family: "Ubuntu", sans-serif; */
  font-family: 'Raleway', sans-serif;
  background: #fafafa;
}
a {
  text-decoration: none;
}
/* Common classes used through the app to style components */
/* Three main types of font weight */
.font-light {
  font-weight: 300;
}
.font-normal {
  font-weight: 500;
}
.font-bold {
  font-weight: 700;
}
/* Three main types of font weight */
.font-small {
  font-size: 1.3rem;
}
.font-medium {
  font-size: 1.5rem;
}
.font-large {
  font-size: 1.8rem;
}
/* Primary background colors */
.bg-white {
  background: #fff
}
.bg-lightgrey {
  background: #fafafa;
}
.bg-darkgrey {
  background: #c7c7c7;
}
/* Secondary background colors */
.bg-ligthamber {
  background: #ffd149;
}
.bg-amber {
  background: #ffa000;
}
.bg-darkamber {
  background: #c67100;
}
/* Primary font colors */
.font-white {
  color: #fff
}
.font-black {
  color: rgba(0, 0, 0, 1);
}
.font-darkgrey {
  color: rgba(0, 0, 0, .7);
}
/* Secondary font colors */
.font-ligthamber {
  color: #ffd149;
}
.font-amber {
  color: #ffa000;
}
.font-darkamber {
  color: #c67100;
}
/* Buttons */
/* FILTER TOGGLE */
.btn {
  border: none;
  border-radius: 2px;
  /* box-shadow: 0 2px 2px 0 rgba(70, 70, 70, 0.5); */
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
  padding: 0 16px;
  height: 32px;
  width: auto;
  color: #fff;
  font-size: 1.3rem;
  -webkit-transition: all .15s ease;
  -moz-transition: all .15s ease;
  -ms-transition: all .15s ease;
  -o-transition: all .15s ease;
  transition: all .15s ease;  
}
.btn:hover {
  cursor: pointer;
  background: #ffa000;
}
.btn:focus {
  outline: 0;
}
.btn:active {
  background: #ffa000;
}
.filter-toggle {
  margin-left: 5px;
}