/* ---------------- NAVBAR -------------- */
.navbar {
    position: fixed;
    bottom: 0px;
    width: 100%;
    display: flex;
    display: -ms-flex;
    box-shadow: 0 -2px 4px -1px rgba(70, 70, 70, .5);
  }
  @media only screen and (min-width: 600px) {
    .navbar {
      position: relative;
      top: 0px;
      width: 100%;
      display: flex;
      display: -ms-flex;
      justify-content: center;
      box-shadow: 0 2px 4px -1px rgba(70, 70, 70, .5);
    }
  }
  .navbar a {
    flex-basis: 33%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 14px 10px;
  }
  @media only screen and (min-width: 600px) {
    .navbar a {
      flex-basis: 15%;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      padding: 14px 5px;
    }
  }
  .navbar a:hover > .navbar-link-container .navbar-text {
    color: #c67100;
  }
  .navbar-link-container {
    display: flex;
    display: -ms-flex;
    align-items: center;
    justify-content: center;
  }
  .navbar-link-container svg {
    width: 3rem;
    height: 3rem;
  }
  .navbar-link-container .navbar-text {
    margin-left: 5px;
    text-align: center;
  }
  @media only screen and (max-width: 599px) {
    .navbar-link-container .navbar-text {
      display: none;
    }
  }
  /* ---------------- NAVBAR ICONS SVG ---------------- */
  @media only screen and (min-width: 600px) {
    .navbar svg {
      display: none
    }
  }
  .navbar svg {
    fill: none;
    stroke: #464646;
  }
  .navbar a:hover svg {
    fill: none;
    stroke: #c67100;
  }