/* ---------------- NAVBAR -------------- */
.navbar {
    position: fixed;
    bottom: 0px;
    width: 100%;
    display: flex;
    display: -ms-flex;
    box-shadow: 0 -2px 4px -1px rgba(70, 70, 70, .5);
  }
  @media only screen and (min-width: 600px) {
    .navbar {
      position: relative;
      top: 0px;
      width: 100%;
      display: flex;
      display: -ms-flex;
      box-shadow: 0 2px 4px -1px rgba(70, 70, 70, .5);
    }
  }
  .navbar a {
    flex-basis: 20%;
    /* background: #fafafa; */
    background: #fff;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 14px 10px;
  }
  .navbar a:hover > .navbar-link-container .navbar-text {
    /* color: #d2691e; */
    color: #ffa000;
    color: #c67100;
  }
  .navbar-link-container {
    display: flex;
    display: -ms-flex;
    align-items: center;
    justify-content: center;
  }
  .navbar-link-container svg {
    width: 3rem;
    height: 3rem;
  }
  .navbar-link-container .navbar-text {
    font-size: 1.8rem;
    margin-left: 5px;
    text-align: center;
    color: #464646;
  }
  @media only screen and (max-width: 599px) {
    .navbar-link-container .navbar-text {
      display: none;
    }
  }
  .navbar-link-container .navbar-text-active {
    /* color: #d2691e; */
  }
  /* ---------------- NAVBAR ICONS SVG ---------------- */
  .navbar svg {
    fill: none;
    stroke: #464646;
  }
  .navbar a:hover svg {
    fill: none;
    /* stroke: #d2691e; */
    /* stroke: #ffa000; */
    stroke: #c67100;
  }
  /* .navbar a.active svg {
    fill: none;
    stroke: #d2691e;
  } */